body
{
background-color:gray;

}


.wrapper{
    display:flex;
margin-top:100px;
margin-left:150px;
margin-right:150px;


}
.left {
  background-color:white;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  padding:5%;
  float:left;
  width:40%; 

}

.right {
    background-color:lightseagreen;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  padding:5%;
  float:right;
  width:40%;
  height:50%;  
}
input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 0px solid white;
  border-bottom : 1px solid lightseagreen;
  box-sizing: border-box;
  background-color: transparent;
  outline: transparent;
  
}
input[type=radio]{
  width: 20%;
  
  margin: 2px 0;
  border: 0px solid white;
  border-bottom : 1px solid lightseagreen;
  box-sizing: border-box;
  color:white;
  background-color: transparent;
  outline: transparent;
  
}
select[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 0px solid white;
  border-bottom : 1px solid lightseagreen;
  box-sizing: border-box;
  background-color: transparent;
  
}

::placeholder {

  color: grey ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 1;
}

#r{
    border-bottom : 1px solid white ; 
}
#r::placeholder {

color: white ;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
opacity: 1;
}
button{
width: 35%;
  padding: 10px 15px;
  margin: 8px 0;
  border: 0px solid white ;
  border-radius: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  /*background-color: transparent;*/
}

option{
    color: grey;
}